.example::-webkit-scrollbar {
    display: none;
  }
.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
html {
    scroll-behavior: smooth;
  }
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #071c36 0%, #181922 100%);
    background-color: #181922;
    color: #f1f1f1;
}

li, button, h1, h2, p{
    font-family: 'Inconsolata', monospace;
}
a{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: #f1f1f1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.nav__list{
    position: fixed;
    text-align: center;
}

.list__items{
    backdrop-filter: blur(3px);
    border-radius: 10px;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}

#lia {
    transition: all 0.3s ease 0s;
}

#lia:hover{
    color: rosybrown;
    transition: all 0.3s ease 0s;
}

.contactbutton{
    position: fixed;
    padding: 9px 25px;
    background-color: rgb(107, 185, 159);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}

button:hover{
    padding: 9px 25px;
    background-color: rosybrown;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}

.about{
    text-align: center;
}

model-viewer{
    width: 250px;
    height: 250px;
}
.model3d{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.work{
    width: 30%;
    margin: auto;
    text-align: center;
}

.bio{
    width: 30%;
    margin: auto;
    text-align: center;
}

hr{
    width: 5%;
    height: 3px;
    background-color: rosybrown;
    border: none;
}

.self{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px rosybrown solid;
    text-align: center;
}

.projects{
    width: 30%;
    margin: auto;
    text-align: center;
}

.pimages{
    width: 40%;
    height: 40%;
    border-radius: 5%;
    border: 3px #6bb99f solid;
    margin: 0, auto;
}

.ptext{
    color: #f1f1f1;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;  
}

.ptext:hover{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(188, 143, 143, 03);
    transition: all 0.3s ease 0s;  
}

.btt {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    color: #f1f1f1;
    transition: all 0.3s ease 0s;  
  }
.btt:hover {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    color: rosybrown;
    transition: all 0.3s ease 0s;  
  }

.ilove{
    width: 30%;
    margin: auto;
    text-align: center;
}

.ontheweb{
    width: 30%;
    margin: auto;
    text-align: center;
}

  .fa:hover {
      opacity: 0.7;
  }
  
  .icon{
    color: #6bb99f;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.5s;
  }

  .icon:hover{
    border-radius: 10px;
    background-color: rgba(107, 185, 159, 0.3);
    padding: 5px;
    transition: all 0.5s;
  }

  @keyframes fadeIn{from{opacity:1}to{opacity:0}}


  @media only screen and (max-width: 800px){
    .contactbutton{
        opacity: 0;
    }

    .self{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px rosybrown solid;
    margin: 0,auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    hr{
        width: 50px;
        height: 3px;
        background-color: rosybrown;
        border: none;
    }
  }

.copyright{
    text-align: center;
    opacity: 0.5;
}

.welcome{
    background-color: rgba(128, 128, 128, 0.3);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    display:inline-block;
    position:relative;
    font-size: large;
    left:50%;
    transform:translateX(-50%);
    transition: all 0.5s;
}

.poster{
    width: 250px;
    height: 250px;
    background-color: rgba(107, 185, 159, 0.0);
}

.clickme{
    padding: 9px 25px;
    background-color: rgb(107, 185, 159);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}