body{
    background-color: rgb(0, 0, 0) !important;
}
.title{
    filter: invert(1);
    width: 30%;
    margin: 0 auto;
    display: block;
}

@media only screen 
and (max-width : 900px) {
    .title{
        filter: invert(1);
        width: 50%;
        margin: 0 auto;
        display: block;
    }
}
@media only screen 
and (max-width : 1300px) {
    .title{
        filter: invert(1);
        width: 40%;
        margin: 0 auto;
        display: block;
    }
}
@media only screen 
and (max-width : 700px) {
    .title{
        filter: invert(1);
        width: 60%;
        margin: 0 auto;
        display: block;
    }
}
.responsiveMedia{
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
    left: 0; 
    right: 0;
    bottom: 0; 
    margin-bottom: 3% !important;
    margin-top: 0px !important;
    margin-left: auto; 
    margin-right: auto;
    filter: drop-shadow(0 0 0.5rem #ffffff21);
}
.responsiveMedia iframe{
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin-bottom: 0px;
    margin-top: 0px !important;
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
.footer{
    color: #cacaca;
    margin: 0 auto;
    position: absolute;
}
.hr {
    display: inline-block;
    color: #fff;
    margin-bottom: 3% !important;
}
hr {
    border-top: 0px solid #fff !important;
    padding: 0;
    margin-top: 0.5em !important;
    border-width: 6px !important;
  }
a{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}

a:hover{
    text-decoration: none;
    color: #b9b9b9;
    transition: all 1s;
}